app-side-nav,
.app-side-nav {
    md-sidenav md-content {
        overflow-x: hidden !important;
        overflow-y: scroll !important;
        height: calc(100vh - (65px + 50px))!important;
    }
    .sidenav-toolbar .md-select-value .md-select-icon {
        color: white;
    }
    .sidenav-toolbar md-input-container:not([md-no-float]) .md-select-placeholder span:first-child {
        color: white;
    }
    .sidenav-toolbar .md-select-value {
        color: white;
    }
    .sidenav-toolbar md-input-container label:not(.md-no-float):not(.md-container-ignore),
    md-input-container .md-placeholder {
        color: gainsboro
    }
    md-toolbar {
        md-select:focus md-select-value span {
            color: #fff;
        }
        md-select.md-default-theme .md-select-value,
        md-select .md-select-value {
            border-bottom-color: rgba(255, 255, 255, 0.3);
        }
    }
    button {
        display: block;
        width: 95%;
        text-align: center
    }
}

.sidenav-toolbar {
    font-size: 15px;
    padding-top: 5px;
    padding-left: 5px;
    min-height: 65px;
    height: 65px;
}

.md-sidenav-left,
md-sidenav {
    top: 50px;
}