<md-toolbar class="app-navbar">
	<div class="md-toolbar-tools" layout="row">
		<div layout="row" layout="center center">
			<div id="nav-icon" ng-click="toggleSideNav()">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div id="search-container" layout="column" layout-align="center">
				<input id="searchInput" type="text" placeholder="Recharcher ..." ng-model="queryText" ng-model-options="{ debounce: 250 }">

				<img for="searchInput" src="/assets/icons/search.png" alt="search">
			</div>

			<md-menu>
				<md-button aria-label="menu" class="md-icon-button menu-button" ng-click="$mdMenu.open(event)">
					<img src="/assets/icons/menu.png" width="20" alt="menu">
				</md-button>
				<md-menu-content width="3">
					<md-menu-item class="show-on-mobile">
						<md-button ng-if="$root.connnected" ng-click="openInstitutionFormDialog(event)">
							Ajouter un Etablissement
						</md-button>

						<md-button ng-if="!$root.connnected" ng-click="login(event)">
							Se connecter
						</md-button>
					</md-menu-item>
					<md-menu-divider class="show-on-mobile"></md-menu-divider>
					<md-menu-item>
						<md-button ng-click="showInstitutions()">
							Afficher recherchés
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="showAllInstitutions()">
							Afficher Tout
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="hideInstitutions()">
							Cacher Tout
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</div>
		<div layout-fill layout="row" layout-align="space-between center">
			<span flex></span>
			<md-button ng-if="$root.connnected" class="hide-on-mobile" ng-click="openInstitutionFormDialog(event)">
				Ajouter un Etablissement
			</md-button>

			<md-button ng-if="!$root.connnected" class="hide-on-mobile" ng-click="login(event)">
				Se connecter
			</md-button>

			<md-menu>
				<md-button aria-label="menu" class="md-icon-button menu-button" ng-click="$mdMenu.open(event)">
					<img ng-src="assets/icons/{{selectedLanguage}}.png" alt="lang-menu">
				</md-button>
				<md-menu-content class="lang-menu-content">
					<md-menu-item>
						<md-button aria-label="lang-fr" ng-click="changeLanguage('fr')">
							<img src="assets/icons/fr.png" alt="lang-fr">
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button aria-label="lang-ar" ng-click="changeLanguage('ar')">
							<img src="assets/icons/ar.png" alt="lang-ar">
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</div>
	</div>
</md-toolbar>