<md-dialog aria-label="connect">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Se connecter</h2>
			<span flex></span>
			<md-button aria-label="close" class="md-icon-button" ng-click="dialVm.close()">
				<img src="assets/icons/close.png" alt="close" style="width: 15px;padding-top: 5px;">
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
	</md-dialog-content>

	<md-dialog-actions layout="row">
		<span flex></span>
		<md-button aria-label="submit" type="submit" class="md-raised md-default" ng-click="dialVm.close()">
			Fermer
		</md-button>
	</md-dialog-actions>
</md-dialog>