<md-dialog aria-label="Ajouter un etablissement" id="institution-dialog">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Ajouter un etablissement</h2>
			<span flex></span>
			<md-button aria-label="close" class="md-icon-button" ng-click="dialVm.close()">
				<img src="assets/icons/close.png" alt="close" style="width: 15px;margin-top: 5px;">
			</md-button>
		</div>
	</md-toolbar>

	<form name="institutionForm" novalidate class="institution-info">
		<md-dialog-content>
			<div layout="row">
				<md-input-container flex>
					<label>Dénomination</label>
					<input type="text" name="denomination" ng-model="dialVm.institution.denomination" required>
					<div ng-messages="institutionForm.denomination.$error" ng-if="institutionForm.denomination.$touched || institutionForm.$submitted"
					 role="alert">
						<div ng-message="required">Ce champ est obligatoire.</div>
					</div>
				</md-input-container>
			</div>
			<div layout="row">
				<md-input-container flex>
					<label>Numéro Téléphone</label>
					<input type="text" name="phone" ng-model="dialVm.institution.phone" required>
					<div ng-messages="institutionForm.phone.$error" ng-if="institutionForm.phone.$touched || institutionForm.$submitted" role="alert">
						<div ng-message="required">Ce champ est obligatoire.</div>
					</div>
				</md-input-container>
				<md-input-container flex>
					<label>Numéro Fax</label>
					<input type="text" name="fax" ng-model="dialVm.institution.fax">
					<div ng-messages="institutionForm.fax.$error" ng-if="institutionForm.fax.$touched || institutionForm.$submitted" role="alert">

					</div>
				</md-input-container>
			</div>

			<div layout="row" flex>
				<md-input-container flex>
					<label>Type Etablissement</label>
					<md-select ng-model="dialVm.institution.class_id" name="institutionclasse" required>
						<md-optgroup label="Type Etablissement">
							<md-option ng-value="institutionClasse.id" ng-repeat="institutionClasse in dialVm.institutionClasses" style="text-transform: capitalize">
								{{institutionClasse.denomination}}
							</md-option>
						</md-optgroup>
					</md-select>
					<div ng-messages="institutionForm.institutionclasse.$error" ng-if="institutionForm.institutionclasse.$touched || institutionForm.$submitted"
					 role="alert">
						<div ng-message="required">Ce champ est obligatoire.</div>
					</div>
				</md-input-container>

				<md-input-container flex>
					<label>Wilayas</label>
					<md-select ng-model="dialVm.institution.wilaya_id" name="wilaya" required>
						<md-optgroup label="wilaya">
							<md-option ng-value="wilaya.id" ng-repeat="wilaya in dialVm.wilayas" style="text-transform: capitalize">
								{{wilaya.name}}
							</md-option>
						</md-optgroup>
					</md-select>

					<div ng-messages="institutionForm.wilaya.$error" ng-if="institutionForm.wilaya.$touched || institutionForm.$submitted" role="alert">
						<div ng-message="required">Ce champ est obligatoire.</div>
					</div>
				</md-input-container>

				<md-input-container flex>
					<label>Communes</label>
					<md-select ng-model="dialVm.institution.commune_id" md-on-open="dialVm.loadCommunes()" name="commune" required>
						<md-optgroup label="commune">
							<md-option ng-value="commune.id" ng-repeat="commune in dialVm.selectedWilaya.communes" style="text-transform: capitalize">
								{{commune.name}}
							</md-option>
						</md-optgroup>
					</md-select>
					<div ng-messages="institutionForm.commune.$error" ng-if="institutionForm.commune.$touched || institutionForm.$submitted"
					 role="alert">
						<div ng-message="required">Ce champ est obligatoire.</div>
					</div>
				</md-input-container>
			</div>

			<div layout="row" flex>
				<md-input-container flex>
					<label>Adresse</label>
					<input type="text" name="address" ng-model="dialVm.institution.address" required>
					<div ng-messages="institutionForm.address.$error" ng-if="institutionForm.address.$touched || institutionForm.$submitted"
					 role="alert">
						<div ng-message="required">Ce champ est obligatoire.</div>
					</div>
				</md-input-container>
				<md-button class="md-raised md-primary" ng-click="dialVm.getCoordinates()" style="height:10px">
					Vérifier l'adresse
				</md-button>
			</div>
			<ng-map id="new-institution-map" zoom="15" on-click="dialVm.onMapClicked(event)">
				<marker ng-if="dialVm.markers.length === 0" position="current" animation="Animation.BOUNCE" centered="true"></marker>
				<marker ng-if="dialVm.markers.length > 0" animation="Animation.BOUNCE" ng-repeat="marker in dialVm.markers" id="{{marker.id}}"
				 position="{{marker.lat+','+marker.lng}}" visible="true"></marker>
			</ng-map>

			<div layout="row">
				<md-input-container flex>
					<label>Description</label>
					<input type="text" name="description" ng-model="dialVm.institution.description">
					<div ng-messages="institutionForm.description.$error" ng-if="institutionForm.description.$touched || institutionForm.$submitted"
					 role="alert">
					</div>
				</md-input-container>
			</div>
			<div layout="column">
				<md-button aria-label="upload" class="md-raised" ngf-select multiple ng-model="dialVm.institution_image" name="file" ngf-pattern=" 'image/*' "
				 ngf-accept=" 'image/*' ">
					<img src="assets/icons/upload.png" alt="upload" style="margin-bottom: -10px;margin-right: 10px;
					height: 25px;"> Choisir des photos
				</md-button>
			</div>

		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button aria-label="submit" type="submit" class="md-raised md-primary" ng-click="dialVm.addInstitution()" ng-disabled="dialVm.disabled || institutionForm.$invalid || institutionForm.$pristine">
				Ajouter L'institution
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>