#admin {
    md-toolbar {
        height: 50px;
        min-height: 50px;
    }
    section {
        height: calc(100vh - (50px));
    }
    .admin-sidenav-left {
        max-width: 300px !important;
        overflow: hidden;
        md-content {
            height: 100% !important;
            background-color: #ecf0f1;
        }
    }
    .menu-button {
        margin: 0;
        width: 100%;
        text-align: left;
        padding: 5px 20px;
        background-color: #ecf0f1;
        color: #2c3e50;
        font-weight: 600;
        border-bottom: 1px solid #bdc3c7;
        border-radius: 0;
    }
    .menu-button:hover {
        background-color: #bbc0c2;
    }
    .md-whiteframe-4dp {
        background-color: #fff !important;
    }
    .md-cell {
        max-width: 125px !important;
        text-transform: capitalize;
    }
    .button-cell {
        width: 75px;
        padding: 0;
        min-width: 40px;
	}
	
	.md-warn{
		color: #fff !important;
		md-icon{
			padding: 3px;
			padding-left: 0;
		}
	}
}