<md-toolbar class="app-navbar">
	<div class="md-toolbar-tools" layout="row">
		<div layout="row" layout="center center">
			<div id="nav-icon" ng-click="toggleSideNav()">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div id="search-container" layout="column" layout-align="center">
				<input type="text" placeholder="Recharcher ..." ng-model="queryText" ng-model-options="{ debounce: 250 }">
				<!-- add menu -->
			</div>
		</div>
		<div layout-fill layout="row" layout-align="space-between center">
			<md-button ng-click="showAll()">{{ !allShowed ? 'Afficher Tout' : 'Cacher Tout' }}</md-button>
			<md-button ui-sref="home.institution" ui-sref-opts="{location: false}" ng-click="atHome=false">Ajouter une Institution</md-button>
		</div>
	</div>
</md-toolbar>