<md-toolbar class="app-navbar">
	<div class="md-toolbar-tools" layout="row">
		<div layout="row" layout="center center">
			<div id="nav-icon" ng-click="toggleSideNav()">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div id="search-container" layout="column" layout-align="center">
				<input id="searchInput" type="text" placeholder="Recharcher ..." ng-model="queryText" ng-model-options="{ debounce: 250 }">

				<img for="searchInput" src="/assets/icons/search.png" alt="search">
			</div>

			<md-menu>
				<md-button aria-label="menu" class="md-icon-button menu-button" ng-click="$mdMenu.open(event)">
					<img src="/assets/icons/menu.png" width="20" alt="menu">
				</md-button>
				<md-menu-content width="3">
					<md-menu-item>
						<md-button ng-click="showInstitutions()">
							Afficher Tout
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="showInstitutions()">
							Cacher Tout
						</md-button>
					</md-menu-item>
					<!-- <md-menu-divider></md-menu-divider> -->
				</md-menu-content>
			</md-menu>
		</div>
		<div layout-fill layout="row" layout-align="space-between center">
			<span flex></span>
			<md-button ng-click="openInstitutionFormDialog(event)">
				Ajouter un Etablissement
			</md-button>
		</div>
	</div>
</md-toolbar>