<form name="registrationForm" novalidate flex="50" layout="column" layout-align="center"
        style="padding:0 50px 0 50px">
    <h2 layout="row" layout-align="center">Ajouter une institution</h1>
    <md-input-container flex>
        <label>Nom Complet</label>
        <input  type="text"
                name="full_name"
                ng-model="vm.user.full_name"
                required>
        <div ng-messages="registrationForm.full_name.$error"
                ng-if="registrationForm.full_name.$touched || registrationForm.$submitted" role="alert">
            <div ng-message="required">Ce champ est obligatoire.</div>
        </div>
    </md-input-container>

    <md-input-container flex>
        <label>Nom d'utilisateur</label>
        <input type="text"
                name="username"
                ng-model="vm.user.username"
                required>
        <div ng-messages="registrationForm.username.$error"
                ng-if="registrationForm.username.$touched || registrationForm.$submitted" role="alert">
            <div ng-message="required">Ce champ est obligatoire.</div>
        </div>
    </md-input-container>

    <md-input-container flex>
        <label>Email</label>
        <input type="email"
                name="email"
                ng-pattern="/^.+@.+\..+$/"
                ng-model="vm.user.email" required>
        <div ng-messages="registrationForm.email.$error" 
                ng-if="registrationForm.email.$touched || registrationForm.$submitted" role="alert">
            <div ng-message="pattern">Veuillez entrer un email valide.</div>
            <div ng-message="required">Ce champ est obligatoire.</div>
        </div>
    </md-input-container>

    <md-input-container flex>
        <label>Mot de passe</label>
        <input type="password"
                name="password"
                ng-minlength="8"
                ng-model="vm.user.password" required>
        <div ng-messages="registrationForm.password.$error" 
                ng-if="(!vm.user.password && registrationForm.password.$touched) || registrationForm.$submitted" role="alert">
            <div ng-message="minlength">Mot passe doit contenir au min 8 caractères.</div>
            <div ng-message="required">Ce champ est obligatoire.</div>
        </div>
    </md-input-container>

    <md-input-container flex>
        <label>Confirmer le mot de passe</label>
        <input type="password"
                name="password_confirmation"
                ng-minlength="8"
                ng-model="vm.password_confirmation" required>
        <div ng-messages="registrationForm.password_confirmation.$error" 
                ng-if="registrationForm.password_confirmation.$touched || registrationForm.$submitted" role="alert">
            <div ng-message="minlength">Mot passe doit contenir au min 8 caractères.</div>
            <div ng-message="required">Ce champ est obligatoire.</div>
            <div class="md-input-message-animation" 
                    ng-if="vm.password_confirmation && vm.password_confirmation !== vm.user.password">
                    les mots de passe ne correspondent pas!</div>
        </div>
    </md-input-container>

    <div layout="row" layout-align="center center">
        <md-button type="submit" class="md-raised md-primary" ng-click="vm.registerUser()"
                    ng-disabled="vm.disabledRegistration|| registrationForm.$invalid || registrationForm.$pristine">
                    S'inscrire
        </md-button>
    </div>
</form>