

[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}

/*map canvas*/
#map-canvas {
	top: 0;
	background-color: #adadad;
	position: absolute;
	height:100%;
	right: 0;
	left:0;
	float: right;
	z-index: 0;
}

/*le div de chaque institution*/
.institution{
	white-space: normal;
	padding: 5px;
	outline: 0;
}


/*google map : enlever le choix satellite*/
.gm-style-mtc {
	display: none;
}

.md-select-value .md-select-icon{
	color:white !important;
}

md-input-container:not([md-no-float]) .md-select-placeholder span:first-child{
	color: white !important;
}

.md-select-value{
	color: white !important;
}

md-input-container label:not(.md-no-float):not(.md-container-ignore), md-input-container .md-placeholder{
	color: gainsboro
}