<app-nav-bar></app-nav-bar>

<!--ng-controller="AppCtrl" -->
<div layout="column" ng-cloak style="height: calc(100% - (50px));">
	<section layout="row" flex>
		<app-side-nav institution-classes="vm.institutionClasses" wilayas="vm.wilayas" filter-wilayas="vm.filterWilayas()" filter-institution-classes="vm.filterInstitutionClasses()">
			<div ng-repeat="institution in vm.filteredInstitutions">
				<institution-card institution="institution" institution-class="vm.institutionClasses[institution.class_id-1].denomination"
				 selected="institution.selected"></institution-card>
			</div>
			<md-button style="display: block; width: 95%; text-align: center" class="md-raised md-primary" ng-hide="vm.limit > vm.filteredInstitutions.length"
			 ng-click="vm.limit = vm.limit + 10; vm.filterInstitutions()">
				Affichier Plus...
			</md-button>
		</app-side-nav>

		<md-content flex>
			<a ng-click="vm.atHome=true" class="btn btn-default return-button" ng-if="!vm.atHome">
				Retourner vers la Map
			</a>
			<div ui-view layout="row" layout-align="center center" ng-if="!vm.atHome">
			</div>
			<div layout="row" ng-show="vm.atHome">
				<so-map at-home="vm.atHome" selected-marker="vm.selectedMarker" institution-classes="vm.institutionClasses" institutions="vm.filteredInstitutions"></so-map>
			</div>
		</md-content>
	</section>
</div>