<div id="MainContainer">

    <!-- La bar superieur -->
    <div class="navbar " id="navigationBar">
        <div class="row" >
            <div id="searchBar" class="col-xs-8 col-sm-6 col-md-6 col-lg-4 " >
                <div id="rech">
                    <div class="form-group" style="display:inline;">
                        <div class="input-group">
                            <span class="input-group-btn" style="z-index: 100">
                                <button data-toggle="tooltip" data-placement="right" 
                                    title="Afficher les Résultats Dans la map" ng-dblclick="vm.reset()" 
                                    class="btn btn-default" type="button" id="ut" ui-sref="auth" ng-click="vm.onSearchClicked()">
                                    <i id="iconS" class="glyphicon glyphicon-search"></i>
                                    <br>
                                    Afficher tout
                                </button>
                            </span>
                            <input ng-model="vm.query" ng-model-options="{ debounce: 250 }" id="modern" type="text" class="form-control"
                                   placeholder="Entrer un mot clé dans le champ de recherche">
                        </div>
                    </div>
                </div>
            </div>

            <div id="logoImage" class="col-xs-4 col-sm-6 col-md-6" align="right"  align="right"
                 ng-click="vm.showAboutDialog()">
                <img data-toggle="tooltip" data-placement="left" title="Page d'accueil" 
                     src="assets/images/rsz_somap_logo2.png" class="img-responsive logo" alt="Image" >
            </div>

            <ul id="filterBar" class="nav navbar-nav col-xs-12 col-sm-12 col-md-12 col-lg-7">
                <span style="text-align:center;margin-top: 15px;color: white;" 
                      class="col-xs-12 col-sm-12 col-md-6 col-lg-2">Filtrer Par :</span>

                <li data-placement="bottom"  class="col-xs-12 col-sm-12 col-md-3 col-lg-5" 
                    style="text-align:center;" id="instDiv">
                    <a  href="" id="instButton" type="button" class="filter">
                        Institutions
                    </a>
                </li>

                <li  data-placement="bottom"  class="col-xs-12 col-sm-12 col-md-3 col-lg-5" style="text-align:center;">
                    <a href="" id="wilayaButton"  type="button" class="filter">
                        Wilayas
                    </a>
                </li>
            </ul>

            <div class="col-xs-0 col-sm-0 col-md-0 col-lg-1 image" align="right" ng-click="vm.showAboutDialog()">
                <img data-toggle="tooltip" data-placement="left" title="Page d'accueil"
                     src="assets/images/rsz_somap_logo2.png" class="img-responsive logo" alt="Image" >
            </div>

        </div>
    </div>

    <!-- div qui contient les cases a cocher des filtres -->
    <div class="row" >

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5"></div>

        <ul class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-6" style="z-index: 100">
            <div id="instFilter"  align="left">
                <div  ng-repeat="institutionClass in vm.institutionClasses">
                    <input  type="checkbox"  name="institutionClass_{{::institutionClass.id}}" 
                            id="institutionClass_{{::institutionClass.id}}" value="{{::institutionClass.id}}" 
                            ng-model="vm.selectedInstitutions[institutionClass.id-1]" autocomplete="off" />
                    <div class="[ btn-group ]">
                        <label style="margin: 2px;border-radius: 2px;border-color: #2b303b;
                               background-color: rgba(44, 48, 58, 1);" for="institutionClass_{{::institutionClass.id}}" 
                               class="[ btn btn-primary ]">
                            <span class="[ glyphicon glyphicon-ok ]"></span>
                            <span> </span>
                        </label>
                        <label id="institution_{{institutionClass.id}}" class="[ btn btn-default ]" 
                                style="color: white;border-color: transparent; background-color: transparent;
                                border-radius: 0px;text-transform: capitalize" for="institutionClass_{{::institutionClass.id}}">
                                {{::institutionClass.denomination}}
                        </label>
                    </div>

                </div>
            </div>

            <div id="wilayaFilter" align="left" >
                <div align="center" style="padding-bottom: 10px">
                    <button class="btn btn-default" ng-click="vm.selectAll(true)"> Sélectionner tout </button>
                    <button class="btn btn-default"  ng-click="vm.selectAll(false)"> Désélectionner tout </button>
                </div>
                <div ng-repeat="wilaya in vm.wilayas"  class="col-xs-12 col-sm-4 col-md-6 col-lg-4">
                    <input type="checkbox"  name="wilaya_{{::wilaya.id}}" id="wilaya_{{::wilaya.id}}" 
                    value="{{::wilaya.id}}" ng-model="vm.selectedWilayas[wilaya.id-1]" autocomplete="off" />
                    <div class="[ btn-group ]">
                        <label style="margin: 2px;border-radius: 2px;border-color: #2b303b;
                               background-color: rgba(44, 48, 58, 1);" for="wilaya_{{::wilaya.id}}" 
                               class="[ btn btn-primary ]">
                            <span class="[ glyphicon glyphicon-ok ]"></span>
                            <span> </span>
                        </label>
                        <label class="[ btn btn-default ]" style="color: white;border-color: transparent; 
                               background-color: transparent;border-radius: 0px;text-transform: capitalize"
                                for="wilaya_{{::wilaya.id}}">
                               {{::wilaya.name}}
                        </label>
                    </div>
                </div>
            </div>

        </ul>

        <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>

    </div>

    <!-- Map Container -->
    <div id="MapContainer" >
        <div id="map-canvas">
            <map center="32, -4"  zoom="6" on-click="vm.onMapClicked(event)" style="height: 100%">
                <marker ng-repeat="marker in vm.institutions" id="{{marker.id}}"
                        on-click="onMarkerClicked(event)"
                        position={{marker.position.lat+","+marker.position.lng}}
                        title={{marker.denomination}}
                        icon={{vm.institutionClasses[marker.typeId].icon_url}}
                        visible = "false"></marker>

                <info-window id="myInfoWindow" >
                    <div ng-non-bindable="" >
                        <h4 align="middle" style=" background-color: white ;font-weight: 100; color: #2d6ca2;text-transform: capitalize" >
                            {{vm.selectedMarker.denomination}}</h4>
                        <h5 align="middle" style="font-weight: 100;text-transform: capitalize" >
                            {{vm.institutionClasses[vm.selectedMarker.typeId].denomination}}</h5>
                        <div>
                            <p  style="text-transform: capitalize">
                                {{vm.selectedMarker.description}}
                            </p>
                            <p>
                                <span  style="text-transform: capitalize">{{vm.selectedMarker.wilaya}}, {{vm.selectedMarker.commune.name}}, {{vm.selectedMarker.address}}</span>
                                <br />
                                <span >{{vm.selectedMarker.phone}}</span>
                            </p> 
                        </div>
                    </div>
                </info-window>
            </map>
        </div>
    </div>

    <!--Conterneur Resultat de la recherche -->
    <div id="main">
        <div ng-repeat="(key,institution) in vm.institutions | filter:vm.filterMarkers() | filter:vm.filterWilayas() | filter:vm.query">
            <service-card   selected-marker="vm.selectedMarker"
                            app-map="vm.map" institution="institution" selected-markers="vm.selectedMarkers"
                            institution-classes="vm.institutionClasses" wilayas="vm.wilayas"></service-card>
        </div>
    </div>
</div>

<script type='text/javascript' src="assets\js\actions.js"></script>