<app-nav-bar query-text="vm.query" show-institutions="vm.showInstitutions()"></app-nav-bar>

<!--ng-controller="AppCtrl" -->
<div layout="column" ng-cloak style="height: calc(100% - (50px));">
	<section layout="row" flex>
		<app-side-nav institution-classes="vm.institutionClasses" wilayas="vm.wilayas" filter-institutions="vm.filterInstitutions()"
		 selected-items="vm.selected">
			<div ng-repeat="institution in vm.filteredInstitutions | filter:vm.query | limitTo:vm.limit">
				<institution-card institution="institution" institution-class="vm.institutionClasses[institution.class.id-1].name"
				 selected="institution.selected"></institution-card>
			</div>
			<md-button class="md-raised md-primary" ng-hide="vm.limit > vm.filteredInstitutions.length" ng-click="vm.limit = vm.limit + 10">
				Afficher Plus...
			</md-button>
		</app-side-nav>

		<md-content flex>
			<div layout="row">
				<main-map selected-marker="vm.selectedMarker" institution-classes="vm.institutionClasses" institutions="vm.institutions"></main-map>
			</div>
		</md-content>
	</section>
</div>