.institution {
    white-space: normal;
    background-color: #fff;
    outline: 0;
     :hover {
        background-color: #F2F2F2;
    }
    .institution-button {
        position: relative;
        border-bottom: 1px solid #ddd;
        border-radius: 0px;
        padding: 5px 5px 5px 10px;
        text-align: start;
        width: 100%;
        white-space: normal;
    }
    img {
        cursor: pointer;
        margin: 5px;
        position: absolute;
        right: 0;
        z-index: 1;
        max-height: 30px;
        max-width: 30px;
    }
    h5 {
        display: inline-block;
        font-weight: bold;
        color: #2d6ca2;
        margin-right: 36px;
        text-transform: capitalize;
        text-align: left;
        cursor: pointer;
    }
    .meaning {
        display: none;
        color: #222
    }
    .details {
        color: #000;
    }
    .details span:nth-child(1) {
        text-transform: capitalize;
    }
    .details span:nth-child(2) {
        display: none;
    }
}

.institution.selected {
    background-color: #F2F2F2;
    .meaning,
    .details span:nth-child(2) {
        display: block;
    }
}