.institution {
    white-space: normal;
    cursor: pointer;
    background-color: #fff;
    outline: 0;
    .institution-button {
        position: relative;
        border-bottom: 1px solid #ddd;
        padding: 5px 0 15px 10px;
        text-align: start;
        white-space: normal;
    }
    img {
        cursor: pointer;
        position: absolute;
        right: 0;
        margin-top: 5px;
        z-index: 1;
        max-height: 30px;
        max-width: 30px;
    }
    h5 {
        display: inline-block;
        font-weight: bold;
        color: #2d6ca2;
        text-transform: capitalize;
        text-align: left;
        cursor: pointer;
        margin: 10px 0px;
    }
    .meaning {
        display: none;
        color: #222
    }
    .details {
        color: #000;
    }
    .details span:nth-child(1) {
        text-transform: capitalize;
    }
    .details span:nth-child(2) {
        display: none;
    }
    span {
        font-size: 15px;
    }
}

.institution:hover {
    background-color: #F2F2F2;
}

.institution.selected {
    background-color: #F2F2F2 !important;
    .meaning,
    .details span:nth-child(2) {
        display: block;
    }
}